@import url("variables.css");

/* General body styles */
body {
    background: var(--background-color);
    font-family: sans-serif;
    font-size-adjust: ch-width 0.5;
}

/* Section styles */
section {
    min-width: 20rem;
    border: 2px solid var(--primary-color);
    border-radius: 0.75rem; 
    padding: 0.5rem;
}

/* Container styles */
.container-fluid {
    margin-top: 10px;
}

/* Button styles */
.custom-button {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    margin: 1rem;
}
.custom-button:hover, .custom-button:focus {
    background-color: var(--primary-hover-color);
    border-color: var(--primary-hover-color);
}
.custom-button:focus, .custom-button.focus {
    box-shadow: 0 0 0 0.2rem rgba(96, 0, 96, 0.25);
}
.custom-button:not(:disabled):not(.disabled):active,
.custom-button:not(:disabled):not(.disabled).active,
.show > .custom-button.dropdown-toggle {
    background-color: var(--primary-active-color);
    border-color: var(--primary-active-color);
}
.custom-button:not(:disabled):not(.disabled):active:focus,
.custom-button:not(:disabled):not(.disabled).active:focus,
.show > .custom-button.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(64, 0, 64, 0.5);
}

/* Toggle styles */
.custom-toggle .toggle:not(.off) {
    border-color: var(--primary-color);
}
.custom-toggle .toggle:not(.off):hover, .custom-toggle .toggle:not(.off):focus {
    border-color: var(--primary-hover-color);
}
.custom-toggle .toggle:not(.off):focus, .custom-toggle .toggle:not(.off).focus {
    box-shadow: 0 0 0 0.2rem rgba(96, 0, 96, 0.25);
}
.custom-toggle .toggle:not(.off):not(:disabled):not(.disabled):active,
.custom-toggle .toggle:not(.off):not(:disabled):not(.disabled).active,
.show > .toggle-group.dropdown-toggle {
    border-color: var(--primary-active-color);
}
.custom-toggle .toggle-group .toggle-on {
    background-color: var(--primary-color);
}
.custom-toggle .toggle-group .toggle-on:hover, .custom-toggle .toggle-group .toggle-on:focus {
    background-color: var(--primary-hover-color);
}
.custom-toggle .toggle-group .toggle-on:not(:disabled):not(.disabled):active,
.custom-toggle .toggle-group .toggle-on:not(:disabled):not(.disabled).active,
.show > .toggle-group .toggle-on.dropdown-toggle {
    background-color: var(--primary-active-color);
}

/* Canvas alignment */
.align-canvas {
    min-width: 320px;
    max-width: 320px;
}

/* Image styles */
.custom-image-visual {
    border: 2px solid var(--primary-color);
}

/* Range input styles */
.custom-range-set {
    border: 2px solid var(--secondary-color);
    background-color: var(--background-color);
    width: 60%;
}
.custom-range-visual {
    width: 4em; 
    border: 2px solid var(--secondary-color);
    background-color: var(--background-color);
    padding: 0.25rem; 
    padding-bottom: 0rem;
}
.custom-range {
    width: 100%;
}

/* Tabs styles */
.custom-tabs {
    border-bottom: 1px solid var(--primary-color);
}
.custom-tabs .nav-link {
    color: black;
}
.custom-tabs .nav-link:hover, 
.custom-tabs .nav-link:focus {
    background-color: var(--highlight-color);
    border-color: var(--primary-color);
}
.custom-tabs .nav-link.active,
.custom-tabs .nav-item.show .nav-link {
    color: black;
    background-color: var(--highlight-color);
    border-color: var(--primary-color);
}

/* Table styles */
.custom-table thead th {
    background-color: #d196ec;
    border-color: var(--secondary-color);
    border-bottom-color: var(--secondary-color);
    text-align: center;
    padding: 0.25rem;
    padding-bottom: 0rem;
}
.custom-table tbody th {
    background-color: var(--background-color);
    border-color: var(--secondary-color);
    padding: 0.25rem;
    padding-bottom: 0rem;
}
.custom-table tbody td {
    background-color: var(--background-color);
    border-color: var(--secondary-color);
    padding: 0.25rem;
    padding-bottom: 0rem;
}
.custom-table tbody tr:hover th {
    background-color: var(--highlight-color);
}
.custom-table tbody tr:hover td {
    background-color: var(--highlight-color);
}

/* List styles */
.custom-list li {
    background-color: var(--background-color);
    border-color: var(--secondary-color);
    padding: 0.25rem;
}
.custom-list li:hover {
    background-color: var(--highlight-color);
}

.custom-list .list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.custom-list .list-group-item span,
.custom-list .list-group-item a {
    line-height: 1.5; 
    padding-bottom: 0; 
}

.custom-list .list-group-item a {
    display: flex;
    align-items: baseline;
    text-decoration: none;
    color: inherit;
    width: auto;
    height: auto;
}

.custom-list .list-group-item a:hover {
    text-decoration: underline;
    color: var(--primary-color); 
}

.custom-list .list-group-item a::after {
    content: " (clickable)";
    font-size: 0.9em;
    color: var(--secondary-color);
    margin-left: 0.25em;
}

.custom-list .list-group-item .badge {
    display: flex;
    font-size: inherit; 
    line-height: 1;  
    margin: auto 0; 
    padding: 0.25rem 0.5rem; 
    padding-bottom: 0; 
}

.custom-list .list-group-item a i {
    color: var(--primary-color);
    font-size: 0.9em;
    vertical-align: middle;
    margin: 0;
}

.custom-list .list-group-item a:hover i {
    color: var(--primary-hover-color);
}

/* Dropdown menu styles */
.custom-menu {
    color: black;
    background-color: var(--background-color);
    border-color: var(--primary-color);
}
.custom-menu .dropdown-item:hover, 
.custom-menu .dropdown-item:focus {
    background-color: var(--highlight-color);
}
.custom-menu .dropdown-item.active,
.custom-menu .dropdown-item:active {
    font-weight: bold;
    color: black;
    background-color: #d2a3e9;
}
.custom-divider {
    border-color: var(--primary-color);
}

/* Select styles */
.custom-select {
    color: black;
    background-color: var(--background-color);
    border-color: var(--secondary-color);
}
.custom-select:focus, .custom-select.focus {
    border-color: var(--secondary-color);
    box-shadow: 0 0 0 0.2rem rgba(96, 0, 96, 0.25);
}
.custom-select option:checked {
    background-color: #d2a3e9;
}

/* Anchor styles */
a {
    text-decoration: none;
    color: var(--link-color);
}

/* Image styles */
img {
    max-width: 100%;
    max-height: 25rem;
}