@import url("variables.css");

.fa {
    color: white;
    margin: 0.5rem 0.2rem;
    padding: 0.2rem;
    display: block;
    text-decoration: none;
    border-radius: 50%;
}
.fa:hover{
    color: white;
    text-decoration: none;
}
.fa-youtube-play {
    background: var(--youtube-red);
}
.fa-instagram {
    background: var(--instagram-gradient); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
form {
    margin: 0;
}
.calCourseRows {
    display: flex;
    margin: 0;
    padding: 0;
}
.form_course > input {
    width: 100px;
}
.form_credit > input {
    width: 30px;
}
.form_grade > input {
    width: 30px;
}