@charset "UTF-8";

body {
    background: #ddb8ee;
    font-family: sans-serif;
    font-size-adjust: ch-width 0.5;
}
p {
    -webkit-text-size-adjust: auto;
    text-size-adjust: auto;
    margin: 0.2rem;
}
main {
    padding-top: 2.5rem;
}
section {
    width: 90%;
    margin: 0.5rem auto;
    min-width: 20rem;
    max-width: 45rem;
    border: 2px solid purple;
    border-radius: 0.75rem; 
    padding: 0.5rem;
}
div {
    padding: 0;
}
table {
    width: 100%;
    text-align: left;
}
.table_title {
    background-color: #d196ec;
}
.table_title > th {
    font-weight: bold;
}
ul {
    margin: auto;
}
ul > li {
    margin: 0.1rem auto;
}
tr:hover {
    background-color: #d196ec;
}
a {
    text-decoration: none;
    color:#6969bb;
}
img {
    max-width: 100%;
    max-height: 25rem;
}
