body {
    background: #ddb8ee;
    color: #1b1b32;
    font-family: sans-serif;
    font-size-adjust: ch-width 0.5;
    margin: 0
}
p {
    text-size-adjust: auto;
    -webkit-text-size-adjust: auto;
}
main {
    padding-top: 3.75rem;
    margin: 0 0.625rem 0 0.625rem;
}
section {
    width: 80%;
    margin: 0.625rem auto 0.625rem auto;
    max-width: 45rem;
    border: 2px solid purple;
    border-radius: 0.625rem; 
    padding: 0.3125rem;
}
div {
    padding: 0;
}
table {
    width: 100%;
    text-align: left;
}
.table_title {
    background-color: #d196ec;
}
.table_head > th {
    font-weight: bold;
}
tr:hover {
    background-color: #d196ec;
}
a {
    text-decoration: none;
    color:#6969bb;
}
img {
    max-width: 100%;
    max-height: 25rem;
}
