@charset "UTF-8";

body {
    background: #ddb8ee;
    font-family: sans-serif;
    font-size-adjust: ch-width 0.5;
}
.section {
    min-width: 20rem;
    max-width: 75rem;
    border: 2px solid purple;
    border-radius: 0.75rem; 
    padding: 0.5rem;
}
.custom-table thead th {
    background-color: #d196ec;
    border-color: #c978ee;
    border-bottom-color: #c978ee;
}
.custom-table tbody th {
    background-color: #d9b4ea;
    border-color: #c978ee;
}
.custom-table tbody td {
    background-color: #d9b4ea;
    border-color: #c978ee;
}
.custom-table tbody tr:hover th {
    background-color: #d4a5eb;
}
.custom-table tbody tr:hover td{
    background-color: #d4a5eb;
}
.custom-list li {
    background-color: #d9b4ea;
    border-color: #c978ee;
    padding: 0.25rem;
    padding-bottom: 0rem;
}
.custom-list li:hover {
    background-color: #d4a5eb;
}
a {
    text-decoration: none;
    color:#6969bb;
}
img {
    max-width: 100%;
    max-height: 25rem;
}
