header {
    width: 100%;
    align-items: center;
}
.header_list {
    padding: 0.2rem;
    display: block;
}
.header_list > a {
    font-size: 1.25rem;
    text-decoration: none;
    margin: 0 0.2rem;
}
.active {
    color: #6b6b82;
    font-weight: bold;
}
.header_list > a:hover {
    background-color: #ca6fee;
}
.header-link {
    display: block;
    padding: .5rem 1rem;
    color: #1b1b32;
}