header {
    width: 100%;
    align-items: center;
}
.header_list {
    padding: 0.2rem;
    display: block;
    font-weight: bold;
}
.header_list > a {
    font-size: 1rem;
    text-decoration: none;
    color: #1b1b32;
    margin: 0 0.2rem;
}
.header_list .active > a {
    color: #6b6b82;
}
.header_list > a:hover {
    background-color: #ca6fee;
}