body {
    background: #d9a4f1;
    color: #1b1b32;
    font-family: Agency FB;
    margin: 0;
}
header {
    width: 100%;
    height: 50px;
    background-color: #b55ada;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}
.y1fallcourse {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.course_row p {
    display: inline-block;
}
.course {
    text-align: left;
    width: 75%;
}
.grade {
    text-align: right;
    width: 25%;
}
