body {
    background: #d9a4f1;
    color: #1b1b32;
    font-family: sans-serif;
}
p {
    text-size-adjust: auto;
}
header {
    width: 100%;
    height: 50px;
    background-color: #b55ada;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    margin: 0;
    padding-left: 10px;
}
footer {
    height: 10px;
}
nav {
    width: 50%;
    max-width: 400px;
    height: 50px;
}
nav > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
}
a {
    text-decoration: none;
    color:#6969bb;
}
.header_list {
    color: #dfdfe2;
    margin: 0 0.2rem;
    padding: 0.2 rem;
    display: block;
    font-weight: bold;
}
nav > ul > li:hover {
    cursor: pointer;
}
.header_list > a {
    text-decoration: none;
    color: #1b1b32;
}
main {
    padding-top: 60px;
    margin: 0 10px 0 10px;
}
section {
    width: 80%;
    margin: 0 auto 10px auto;
    max-width: 700px;
    border: 2px solid purple;
    border-radius: 10px; 
    padding: 5px;
}
div {
    padding: 10px 0 0 5px;
}
table {
    width: 100%;
    text-align: left;
}
.table_head > th {
    font-weight: bold;
}
tr:hover {
    background-color: #d196ec;
}
.fa fa-youtube-play {
    color: red;
}
.course_rows_given {
    display: flex;
    margin: 0 0 0 0;
}
.form_course > input {
    width: 100px;
}
.form_credit > input {
    width: 20px;
}
.form_grade > input {
    width: 20px;
}